body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightgray
  }
  input {
    margin: 5px;
    padding: 5px;
  }
  button {
    margin: 5px;
    padding: 5px 10px;
  }
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  table, th, td {
    border: 1px solid #131212bd;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: black;
    color:white;
  }